.navbar-lewagon {
  justify-content: space-between;
  background-color: #3f0a09;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-visible {
  // background-color: #3f0a09;
  visibility: visible;
  opacity: 1;
}


// 3f0a09
